In [3]:
2+2

4

In [ ]:
from pyspark.sql import SparkSession #import pyspark

In [ ]:
from pyspark.sql.functions import isnull, col,date_sub,current_date #import some important functions

In [ ]:
from pyspark.sql.types import IntegerType # for the conversion to integer

In [ ]:
spark = SparkSession.builder.getOrCreate() #instantiation of a Spark session

In [8]:
spark.stop()
spark = SparkSession.builder.getOrCreate()

In [ ]:

mystaff_df = spark.read.csv('workers.csv',header=True) # read in the csv file to spark

In [ ]:
mystaff_df.show() # output the table

+--------+----------+------+---+----------+--------------------+
|   name1|     name2|gender|age|  language|          occupation|
+--------+----------+------+---+----------+--------------------+
| Adolpho|  Pendrich|Female| 21| Norwegian|                null|
|    Lief|      Ughi|Female| 22|Portuguese|  Recruiting Manager|
|    Alvy|Malatalant|  Male| 24| Malayalam|       VP Accounting|
|     Syd|   Daniels|Female| 28|  Moldovan|     Staff Scientist|
| Roselin|   Girkins|Female| 35|   Amharic|   Financial Analyst|
| Pamella|    Pablos|  Male| 33|  Georgian|  Research Assistant|
|  Harmon|Sandercock|  Male| 23|   English|   Marketing Manager|
|   Louis| Waterland|Female| 21|    Telugu|Computer Systems ...|
| Yehudit|   Oxenden|  Male| 35|   Spanish|  Speech Pathologist|
|  Karrie|   Thomsen|  Male| 18|     Tetum|        Statistician|
|  Marven| Burchnall|Female| 18|   English| Executive Secretary|
|   Nerta|   Kensley|  Male| 19|   Bosnian|               Nurse|
|   Piper|   Yarnold|  Male| 21|    Nepali|                null|
|  Valene| Foresight|Female| 20|    Kazakh|Accounting Assistant|
|Mallorie|   Kelledy|  Male| 30|    German|     Legal Assistant|
|    Jase| Devonside|Female| 29|     Dutch|                null|
|    Zora|    Jarmyn|Female| 26|    Danish|  Recruiting Manager|
|   Sadye|   Millott|Female| 33|     MƒÅori|       Web Developer|
|  Dorice|   Glidder|  Male| 21|   English|    Internal Auditor|
|   Kelsy|    Sacase|  Male| 23| Icelandic|Senior Financial ...|
+--------+----------+------+---+----------+--------------------+
only showing top 20 rows

In [ ]:
mystaff_df.describe().show() # data property

+-------+-----+----------+------+-----------------+--------+--------------------+
|summary|name1|     name2|gender|              age|language|          occupation|
+-------+-----+----------+------+-----------------+--------+--------------------+
|  count|   50|        50|    50|               50|      50|                  46|
|   mean| null|      null|  null|            25.62|    null|                null|
| stddev| null|      null|  null|5.275627441163675|    null|                null|
|    min|Abbot|Abramovicz|Female|               18| Amharic|Accounting Assistant|
|    max| Zora|   Yarnold|  Male|               35|    Zulu|       Web Developer|
+-------+-----+----------+------+-----------------+--------+--------------------+

In [ ]:
mystaff_df.filter(isnull(mystaff_df.occupation)).show() # filtering the null value

+-------+----------+------+---+---------+----------+
|  name1|     name2|gender|age| language|occupation|
+-------+----------+------+---+---------+----------+
|Adolpho|  Pendrich|Female| 21|Norwegian|      null|
|  Piper|   Yarnold|  Male| 21|   Nepali|      null|
|   Jase| Devonside|Female| 29|    Dutch|      null|
|  Leroy|Abramovicz|  Male| 19|   Kazakh|      null|
+-------+----------+------+---+---------+----------+

In [ ]:
mystaff_df.filter(col('gender')=='Male').show() #filtering the male gender

+--------+----------+------+---+----------+--------------------+
|   name1|     name2|gender|age|  language|          occupation|
+--------+----------+------+---+----------+--------------------+
|    Alvy|Malatalant|  Male| 24| Malayalam|       VP Accounting|
| Pamella|    Pablos|  Male| 33|  Georgian|  Research Assistant|
|  Harmon|Sandercock|  Male| 23|   English|   Marketing Manager|
| Yehudit|   Oxenden|  Male| 35|   Spanish|  Speech Pathologist|
|  Karrie|   Thomsen|  Male| 18|     Tetum|        Statistician|
|   Nerta|   Kensley|  Male| 19|   Bosnian|               Nurse|
|   Piper|   Yarnold|  Male| 21|    Nepali|                null|
|Mallorie|   Kelledy|  Male| 30|    German|     Legal Assistant|
|  Dorice|   Glidder|  Male| 21|   English|    Internal Auditor|
|   Kelsy|    Sacase|  Male| 23| Icelandic|Senior Financial ...|
|   Lindi|     Gouly|  Male| 28|   Kannada|   Software Engineer|
|  Prisca|   Canning|  Male| 32|    Fijian|VP Product Manage...|
|   Tadio|      Renn|  Male| 24|     Czech|    Internal Auditor|
| Hillyer|   Drought|  Male| 23|   Finnish|  Speech Pathologist|
|  Hollie| Buckthorp|  Male| 22| Norwegian|          Programmer|
| Shirley|  Orhtmann|  Male| 23|    Korean|           Paralegal|
|   Lilla|   Shippam|  Male| 29|   Burmese|        Statistician|
|     Roi|   Tarbatt|  Male| 21|  Croatian|           Recruiter|
|Emmalynn|   Aspinal|  Male| 32|Lithuanian|       Social Worker|
|   Cyndy|       Amy|  Male| 31|  Croatian|GIS Technical Arc...|
+--------+----------+------+---+----------+--------------------+
only showing top 20 rows

In [ ]:
mystaff_df.filter(col('language').isin('Spanish','English')).show() #basic filtering

+-------+----------+------+---+--------+--------------------+
|  name1|     name2|gender|age|language|          occupation|
+-------+----------+------+---+--------+--------------------+
| Harmon|Sandercock|  Male| 23| English|   Marketing Manager|
|Yehudit|   Oxenden|  Male| 35| Spanish|  Speech Pathologist|
| Marven| Burchnall|Female| 18| English| Executive Secretary|
| Dorice|   Glidder|  Male| 21| English|    Internal Auditor|
| Pansie| Lindstedt|  Male| 21| English|   Financial Analyst|
| Skylar|  Fayerman|  Male| 25| English|Automation Specia...|
+-------+----------+------+---+--------+--------------------+

In [ ]:
# basic filtering

mystaff_df.filter((col('language').isin('Spanish','English')) & (col('age')<30)).show()

+------+----------+------+---+--------+--------------------+
| name1|     name2|gender|age|language|          occupation|
+------+----------+------+---+--------+--------------------+
|Harmon|Sandercock|  Male| 23| English|   Marketing Manager|
|Marven| Burchnall|Female| 18| English| Executive Secretary|
|Dorice|   Glidder|  Male| 21| English|    Internal Auditor|
|Pansie| Lindstedt|  Male| 21| English|   Financial Analyst|
|Skylar|  Fayerman|  Male| 25| English|Automation Specia...|
+------+----------+------+---+--------+--------------------+

In [31]:
mystaff_df.dtypes #check the data types

[('firstname', 'string'),
 ('lastname', 'string'),
 ('gender', 'string'),
 ('age', 'string'),
 ('language', 'string'),
 ('occupation', 'string')]

In [ ]:
# change the data type of age column from string to int

mystaff_df = mystaff_df.withColumn('age',col('age').cast(IntegerType()))

In [ ]:
mystaff_df.dtypes # validating the code

[('firstname', 'string'),
 ('lastname', 'string'),
 ('gender', 'string'),
 ('age', 'int'),
 ('language', 'string'),
 ('occupation', 'string')]

In [35]:
mystaff_df.show()

+---------+----------+------+---+----------+--------------------+
|firstname|  lastname|gender|age|  language|          occupation|
+---------+----------+------+---+----------+--------------------+
|  Adolpho|  Pendrich|Female| 21| Norwegian|             No info|
|     Lief|      Ughi|Female| 22|Portuguese|  Recruiting Manager|
|     Alvy|Malatalant|  Male| 24| Malayalam|       VP Accounting|
|      Syd|   Daniels|Female| 28|  Moldovan|     Staff Scientist|
|  Roselin|   Girkins|Female| 35|   Amharic|   Financial Analyst|
|  Pamella|    Pablos|  Male| 33|  Georgian|  Research Assistant|
|   Harmon|Sandercock|  Male| 23|   English|   Marketing Manager|
|    Louis| Waterland|Female| 21|    Telugu|Computer Systems ...|
|  Yehudit|   Oxenden|  Male| 35|   Spanish|  Speech Pathologist|
|   Karrie|   Thomsen|  Male| 18|     Tetum|        Statistician|
|   Marven| Burchnall|Female| 18|   English| Executive Secretary|
|    Nerta|   Kensley|  Male| 19|   Bosnian|               Nurse|
|    Piper|   Yarnold|  Male| 21|    Nepali|             No info|
|   Valene| Foresight|Female| 20|    Kazakh|Accounting Assistant|
| Mallorie|   Kelledy|  Male| 30|    German|     Legal Assistant|
|     Jase| Devonside|Female| 29|     Dutch|             No info|
|     Zora|    Jarmyn|Female| 26|    Danish|  Recruiting Manager|
|    Sadye|   Millott|Female| 33|     MƒÅori|       Web Developer|
|   Dorice|   Glidder|  Male| 21|   English|    Internal Auditor|
|    Kelsy|    Sacase|  Male| 23| Icelandic|Senior Financial ...|
+---------+----------+------+---+----------+--------------------+
only showing top 20 rows

In [36]:
mystaff_df.dtypes

[('firstname', 'string'),
 ('lastname', 'string'),
 ('gender', 'string'),
 ('age', 'int'),
 ('language', 'string'),
 ('occupation', 'string')]

In [ ]:
# renaming the columns

mystaff_df = mystaff_df.withColumnsRenamed({'name1':'firstname','name2':'lastname'})

mystaff_df.show()

+---------+----------+------+---+----------+--------------------+
|firstname|  lastname|gender|age|  language|          occupation|
+---------+----------+------+---+----------+--------------------+
|  Adolpho|  Pendrich|Female| 21| Norwegian|                null|
|     Lief|      Ughi|Female| 22|Portuguese|  Recruiting Manager|
|     Alvy|Malatalant|  Male| 24| Malayalam|       VP Accounting|
|      Syd|   Daniels|Female| 28|  Moldovan|     Staff Scientist|
|  Roselin|   Girkins|Female| 35|   Amharic|   Financial Analyst|
|  Pamella|    Pablos|  Male| 33|  Georgian|  Research Assistant|
|   Harmon|Sandercock|  Male| 23|   English|   Marketing Manager|
|    Louis| Waterland|Female| 21|    Telugu|Computer Systems ...|
|  Yehudit|   Oxenden|  Male| 35|   Spanish|  Speech Pathologist|
|   Karrie|   Thomsen|  Male| 18|     Tetum|        Statistician|
|   Marven| Burchnall|Female| 18|   English| Executive Secretary|
|    Nerta|   Kensley|  Male| 19|   Bosnian|               Nurse|
|    Piper|   Yarnold|  Male| 21|    Nepali|                null|
|   Valene| Foresight|Female| 20|    Kazakh|Accounting Assistant|
| Mallorie|   Kelledy|  Male| 30|    German|     Legal Assistant|
|     Jase| Devonside|Female| 29|     Dutch|                null|
|     Zora|    Jarmyn|Female| 26|    Danish|  Recruiting Manager|
|    Sadye|   Millott|Female| 33|     MƒÅori|       Web Developer|
|   Dorice|   Glidder|  Male| 21|   English|    Internal Auditor|
|    Kelsy|    Sacase|  Male| 23| Icelandic|Senior Financial ...|
+---------+----------+------+---+----------+--------------------+
only showing top 20 rows

In [ ]:
# replace the null value with string value

mystaff_df = mystaff_df.na.fill('No info')

mystaff_df.show()

+---------+----------+------+---+----------+--------------------+
|firstname|  lastname|gender|age|  language|          occupation|
+---------+----------+------+---+----------+--------------------+
|  Adolpho|  Pendrich|Female| 21| Norwegian|             No info|
|     Lief|      Ughi|Female| 22|Portuguese|  Recruiting Manager|
|     Alvy|Malatalant|  Male| 24| Malayalam|       VP Accounting|
|      Syd|   Daniels|Female| 28|  Moldovan|     Staff Scientist|
|  Roselin|   Girkins|Female| 35|   Amharic|   Financial Analyst|
|  Pamella|    Pablos|  Male| 33|  Georgian|  Research Assistant|
|   Harmon|Sandercock|  Male| 23|   English|   Marketing Manager|
|    Louis| Waterland|Female| 21|    Telugu|Computer Systems ...|
|  Yehudit|   Oxenden|  Male| 35|   Spanish|  Speech Pathologist|
|   Karrie|   Thomsen|  Male| 18|     Tetum|        Statistician|
|   Marven| Burchnall|Female| 18|   English| Executive Secretary|
|    Nerta|   Kensley|  Male| 19|   Bosnian|               Nurse|
|    Piper|   Yarnold|  Male| 21|    Nepali|             No info|
|   Valene| Foresight|Female| 20|    Kazakh|Accounting Assistant|
| Mallorie|   Kelledy|  Male| 30|    German|     Legal Assistant|
|     Jase| Devonside|Female| 29|     Dutch|             No info|
|     Zora|    Jarmyn|Female| 26|    Danish|  Recruiting Manager|
|    Sadye|   Millott|Female| 33|     MƒÅori|       Web Developer|
|   Dorice|   Glidder|  Male| 21|   English|    Internal Auditor|
|    Kelsy|    Sacase|  Male| 23| Icelandic|Senior Financial ...|
+---------+----------+------+---+----------+--------------------+
only showing top 20 rows

In [22]:
# writing SQL query in Spark

# create a temporary view

mystaff_df.createOrReplaceTempView('Staff_table')

In [ ]:
spark.sql('SELECT * FROM Staff_table').show() # simple query

+---------+----------+------+---+----------+--------------------+
|firstname|  lastname|gender|age|  language|          occupation|
+---------+----------+------+---+----------+--------------------+
|  Adolpho|  Pendrich|Female| 21| Norwegian|             No info|
|     Lief|      Ughi|Female| 22|Portuguese|  Recruiting Manager|
|     Alvy|Malatalant|  Male| 24| Malayalam|       VP Accounting|
|      Syd|   Daniels|Female| 28|  Moldovan|     Staff Scientist|
|  Roselin|   Girkins|Female| 35|   Amharic|   Financial Analyst|
|  Pamella|    Pablos|  Male| 33|  Georgian|  Research Assistant|
|   Harmon|Sandercock|  Male| 23|   English|   Marketing Manager|
|    Louis| Waterland|Female| 21|    Telugu|Computer Systems ...|
|  Yehudit|   Oxenden|  Male| 35|   Spanish|  Speech Pathologist|
|   Karrie|   Thomsen|  Male| 18|     Tetum|        Statistician|
|   Marven| Burchnall|Female| 18|   English| Executive Secretary|
|    Nerta|   Kensley|  Male| 19|   Bosnian|               Nurse|
|    Piper|   Yarnold|  Male| 21|    Nepali|             No info|
|   Valene| Foresight|Female| 20|    Kazakh|Accounting Assistant|
| Mallorie|   Kelledy|  Male| 30|    German|     Legal Assistant|
|     Jase| Devonside|Female| 29|     Dutch|             No info|
|     Zora|    Jarmyn|Female| 26|    Danish|  Recruiting Manager|
|    Sadye|   Millott|Female| 33|     MƒÅori|       Web Developer|
|   Dorice|   Glidder|  Male| 21|   English|    Internal Auditor|
|    Kelsy|    Sacase|  Male| 23| Icelandic|Senior Financial ...|
+---------+----------+------+---+----------+--------------------+
only showing top 20 rows

In [ ]:
spark.sql('SELECT * FROM Staff_table WHERE age<25').show() # query

+---------+----------+------+---+----------+--------------------+
|firstname|  lastname|gender|age|  language|          occupation|
+---------+----------+------+---+----------+--------------------+
|  Adolpho|  Pendrich|Female| 21| Norwegian|             No info|
|     Lief|      Ughi|Female| 22|Portuguese|  Recruiting Manager|
|     Alvy|Malatalant|  Male| 24| Malayalam|       VP Accounting|
|   Harmon|Sandercock|  Male| 23|   English|   Marketing Manager|
|    Louis| Waterland|Female| 21|    Telugu|Computer Systems ...|
|   Karrie|   Thomsen|  Male| 18|     Tetum|        Statistician|
|   Marven| Burchnall|Female| 18|   English| Executive Secretary|
|    Nerta|   Kensley|  Male| 19|   Bosnian|               Nurse|
|    Piper|   Yarnold|  Male| 21|    Nepali|             No info|
|   Valene| Foresight|Female| 20|    Kazakh|Accounting Assistant|
|   Dorice|   Glidder|  Male| 21|   English|    Internal Auditor|
|    Kelsy|    Sacase|  Male| 23| Icelandic|Senior Financial ...|
|    Tadio|      Renn|  Male| 24|     Czech|    Internal Auditor|
|  Hillyer|   Drought|  Male| 23|   Finnish|  Speech Pathologist|
| Germayne| Shillaker|Female| 19|    Kazakh|VP Product Manage...|
|   Hollie| Buckthorp|  Male| 22| Norwegian|          Programmer|
|  Shirley|  Orhtmann|  Male| 23|    Korean|           Paralegal|
|      Roi|   Tarbatt|  Male| 21|  Croatian|           Recruiter|
|   Trudey|  Prothero|Female| 19|    Aymara|        Food Chemist|
|   Karlie|   McCalum|  Male| 24|   Kurdish|Help Desk Technician|
+---------+----------+------+---+----------+--------------------+
only showing top 20 rows

In [25]:
query = '''SELECT language,COUNT(Lastname) 
            FROM Staff_table 
            GROUP BY language 
            ORDER BY COUNT(lastname) DESC
            
            '''

spark.sql(query).show()

+----------+---------------+
|  language|count(Lastname)|
+----------+---------------+
|   English|              5|
|  Croatian|              3|
|    Kazakh|              3|
|Portuguese|              2|
| Norwegian|              2|
|   Amharic|              2|
|    Fijian|              1|
|Papiamento|              1|
|    Nepali|              1|
|   Kannada|              1|
|   Finnish|              1|
|     Tetum|              1|
| Icelandic|              1|
|  Assamese|              1|
|   Bosnian|              1|
|   Guaran√≠|              1|
|    Telugu|              1|
|  Filipino|              1|
|     Azeri|              1|
|   Spanish|              1|
+----------+---------------+
only showing top 20 rows

In [ ]:
# create a derived column full name

query = """

        SELECT  concat(firstname ,' ' ,lastname) AS fullname
                ,*
                ,date_sub(current_date(),(cast(age as int)*365)) AS Date_of_Birth
                ,year(date_sub(current_date(),(cast(age as int)*365))) AS Year_of_Birth

        from staff_table

        

"""

staff_df = spark.sql(query)

In [ ]:
#Selects the columns

staff_df = staff_df.select(['fullname','gender','age','language','occupation','Date_of_Birth','Year_of_Birth'])

In [28]:
staff_df.show()

+-----------------+------+---+----------+--------------------+-------------+-------------+
|         fullname|gender|age|  language|          occupation|Date_of_Birth|Year_of_Birth|
+-----------------+------+---+----------+--------------------+-------------+-------------+
| Adolpho Pendrich|Female| 21| Norwegian|             No info|   2003-11-12|         2003|
|        Lief Ughi|Female| 22|Portuguese|  Recruiting Manager|   2002-11-12|         2002|
|  Alvy Malatalant|  Male| 24| Malayalam|       VP Accounting|   2000-11-12|         2000|
|      Syd Daniels|Female| 28|  Moldovan|     Staff Scientist|   1996-11-13|         1996|
|  Roselin Girkins|Female| 35|   Amharic|   Financial Analyst|   1989-11-15|         1989|
|   Pamella Pablos|  Male| 33|  Georgian|  Research Assistant|   1991-11-15|         1991|
|Harmon Sandercock|  Male| 23|   English|   Marketing Manager|   2001-11-12|         2001|
|  Louis Waterland|Female| 21|    Telugu|Computer Systems ...|   2003-11-12|         2003|
|  Yehudit Oxenden|  Male| 35|   Spanish|  Speech Pathologist|   1989-11-15|         1989|
|   Karrie Thomsen|  Male| 18|     Tetum|        Statistician|   2006-11-11|         2006|
| Marven Burchnall|Female| 18|   English| Executive Secretary|   2006-11-11|         2006|
|    Nerta Kensley|  Male| 19|   Bosnian|               Nurse|   2005-11-11|         2005|
|    Piper Yarnold|  Male| 21|    Nepali|             No info|   2003-11-12|         2003|
| Valene Foresight|Female| 20|    Kazakh|Accounting Assistant|   2004-11-11|         2004|
| Mallorie Kelledy|  Male| 30|    German|     Legal Assistant|   1994-11-14|         1994|
|   Jase Devonside|Female| 29|     Dutch|             No info|   1995-11-14|         1995|
|      Zora Jarmyn|Female| 26|    Danish|  Recruiting Manager|   1998-11-13|         1998|
|    Sadye Millott|Female| 33|     MƒÅori|       Web Developer|   1991-11-15|         1991|
|   Dorice Glidder|  Male| 21|   English|    Internal Auditor|   2003-11-12|         2003|
|     Kelsy Sacase|  Male| 23| Icelandic|Senior Financial ...|   2001-11-12|         2001|
+-----------------+------+---+----------+--------------------+-------------+-------------+
only showing top 20 rows

In [ ]:
# Save the result to Spark

staff_df.write.option('header',True).partitionBy(["language","Year_of_Birth"]).mode("overwrite").format("csv").save("result")